<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{{!!title?title:"管理系统"}}</title>

    <meta name="description" content="Static &amp; Dynamic Tables" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome/4.2.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <script src="/assets/js/ace-extra.min.js"></script>


</head>

<body class="login-layout">

    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="red">博客系统</span>
                                <span class="white" id="id-text2">管理后台</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; 公司名字</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i> 请输入您的登陆信息
                                        </h4>

                                        <div class="space-6"></div>

                                        <form id="mainForm" action="/admin/user/login">
                                            <fieldset>
                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="userName" class="form-control" placeholder="请输入用户名" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="pwd" class="form-control" placeholder="请输入密码" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

                                                <div class="space"></div>

                                                <div class="clearfix">
                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">登陆</span>
														</button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>

                                    </div>
                                    <!-- /.widget-main -->
                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.login-box -->
                        </div>
                        <!-- /.position-relative -->


                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container -->


    <script src="/assets/js/jquery.2.1.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>
    <script src="/lib/jquery/jquery.validate.min.js"></script>


    <script>
        $(function() {
            $('body').attr('class', 'login-layout light-login');
				$('#id-text2').attr('class', 'grey');
				$('#id-company-text').attr('class', 'blue');

            $("#mainForm").validate({
                rules:{
                    userName:{required:true,minlength:2},
                    pwd:{required:true}
                },
                messages:{
                    userName:{
                        required:'用户名不能为空',
                        minlength:'用户名最小程度为2'
                    },
                    pwd:{
                        required:"密码不能为空"
                    }
                },
                submitHandler:function(form){
                    $.post($(form).attr('action'),$(form).serialize(),function(res){
                        if(res.status == "y"){
                            window.location.href = '/admin/adminuser/1'
                        }
                        else{
                            alert(res.msg)
                        }
                    },'json')
                }
            })
        });


    </script>

</body>

</html>