<!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
							<span class="blue bolder">yuluo</span> Application &copy; 2016-2017
                    </span>

                    &nbsp; &nbsp;

                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    <!-- /.main-container -->

    <!-- basic scripts -->

    <script src="/assets/js/jquery.2.1.1.min.js"></script>

    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>

    <script src="/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/lib/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="/lib/jquery/jquery.html5uploader.min.js"></script>
    <script src="/lib/jquery/jquery.validate.min.js"></script>
    <script src="/lib/jquery/jquery.cookie.min.js"></script>
    <script src="/javascripts/common.js"></script>
